/* ShowDetail.css */
.show-detail-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .show-detail {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .show-summary {
    margin-top: 10px;
   
  }
  
  .book-ticket-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .book-ticket-button:hover {
    background-color: #45a049;
  }
  